<div class="media ml-4 mr-4">
    <%= form_for @post do |f| %>
      <%= f.label :タイトル %><br>
      <%= f.text_field :name %>
      <br>
      <%= f.label :内容 %>
      <%= f.text_area :body, class: "form-control" %>
      <br>
      <%= f.label :画像 %>
      <%= f.file_field :image %>
      <br>
      <%= f.submit "編集する" %>
    <% end %>
</div>