      <nav><a href="#first-block">投稿一覧</a></nav>
      <nav><a href="#second-block">いいねTOP3</a></nav>

<% if user_signed_in? %>
<%= link_to "マイページ", user_path(current_user.id) %>をはじめに編集してください
<% end %>

<h4>投稿を検索</h4>
<div class=search>
 <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
   <%= text_field_tag :search, nil, placeholder: 'タイトルor内容で検索' %>
   <%= submit_tag '検索する' %>
<% end %>
</div>
<%= link_to "＋新規投稿へ", new_post_path, class:"btn btn-primary ml-4 mb-4" %>
<section id="fiest-block">
<h5>投稿一覧</h5>
<% @posts.each do |t| %> 
<div class="media mr-3 ml-3">
  
  <%= image_tag set_image(t), size: "150×150"%>
  <div class="media-body">
    <h5 class="mt-0">    
    <%= t.user.email %>
    <a href="/users/<%= t.user.id %>"><%= t.user.name %></a>
    <%= t.name %> 
    </h5>
    
    <%= t.body %><br>
          <% if user_signed_in? %>
      <% if current_user.already_gooded?(t) %>
          <%= link_to post_good_path(id: t.id, post_id: t.id), method: :delete do %>
             <i class="fas fa-heart"></i><%= t.goods.count %>
          <% end %>
      <% else %>
          <%= link_to post_goods_path(id: t.id, post_id: t.id), method: :post do %>
               <i class="far fa-heart"></i><%= t.goods.count %>
          <% end %>
      <% end %>
  <% else %>
       <i class="far fa-heart"></i><%= t.goods.count %>
  <% end %>
  
    <% t.comments.each do |c| %>
    <div class="media1">
      <div class="media-body1">
        <h6 class="mt-0"></h6>
            <%= c.user.email unless c.user.blank? %>
            <br>
             <%= c.content %>
      </div>    
    <% if user_signed_in? %>
        <% if current_user.already_liked?(c) %>
          <%= link_to comment_like_path(id: c.id, comment_id: c.id), method: :delete do %>
              <i class="fas fa-heart"></i><%= c.likes.count %> 
          <% end %>
        <% else %>
          <%= link_to comment_likes_path(id: c.id, comment_id: c.id), method: :post do %>
              <i class="far fa-heart"></i><%= c.likes.count %>
          <% end %>
        <% end %>
    <% else %>
     <i class="far fa-heart mr-3"></i><%= c.likes.count %>
    <% end %>
    <%= button_to "コメント削除", comment_path(id: c.id, comment_id: c.id), method: :delete %>
  </div>
        
<% end %>


    <%= link_to "詳細へ", post_path(t.id) %>
    <% if user_signed_in? && current_user.id == t.user_id %>  
    <%= link_to "編集",edit_post_path(t.id) %>
    <%= button_to "削除する", post_path(t.id), method: :delete %>
    <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<section id="second-block">
<h5>いいねランキングTOP3</h5>
<div class="media mr-3 ml-3">
  

  <% @rank_posts.each do |t| %>
  
  <%= image_tag set_image(t), size: "150×150"%>
  <div class="media-body">
    <h5 class="mt-0">    
    <%= t.user.email %>
    <a href="/users/<%= t.user.id %>"><%= t.user.name %></a>
    <%= t.name %> 
    </h5>
    
    <%= t.body %><br>

        <% t.comments.each do |c| %>
    <div class="media1">
      <div class="media-body1">
        <h6 class="mt-0"></h6>
            <%= c.user.email unless c.user.blank? %>
            <br>
             <%= c.content %>
      </div> 
      <%= button_to "コメント削除", comment_path(id: c.id, comment_id: c.id), method: :delete %>   
</div> 
<% end %>
<% end %>
